<!DOCTYPE html>
<html>
<head>
  <title>Musicdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
</head>
<body class="white-text">
	<nav class="light-blue lighten-3" role="navigation">
	    <div class="nav-wrapper container"><a id="logo-container" href="../" class="brand-logo">musicDB</a>
		      <ul class="right hide-on-med-and-down">
		        <%= render 'nav'%>
		      </ul>

		      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
		        <%= render 'nav'%>
		      </ul>
		      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	    </div>
	</nav>

<%= yield %>

<footer class="page-footer">
	<div class="container">
		<div class="row">
		  <div class="col l6 s12">
		    <h5 class="white-text">musicDB</h5>
		    <p class="grey-text text-lighten-4">Simple music databse using built-in APIs and customized using Materialized.</p>
		  </div>
		  <div class="col l4 offset-l2 s12">
		    <h5 class="white-text">Links</h5>
		    <ul>
		      <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
		      <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
		      <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
		      <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
		    </ul>
		  </div>
			</div>
		</div>
		<div class="footer-copyright">
		<div class="container">
		© 2016 Ahmad Atiyah
		<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>

<script>
	$( document ).ready(function(){
    	$(".button-collapse").sideNav();
    });
</script>

</body>
</html>
